<a href="https://colab.research.google.com/github/minji-sung/pythonlab/blob/main/1_basic%20understanding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
안녕하세요

NameError: ignored

In [ ]:
'Test'

'Test'

In [ ]:
# 객체의 자료형 확인 type()
a= 5 #정수
b= 3.14 #실수
c= '3.14' #스트링 (문자열)
d= "3.14"
e= -3.14
f= 'abcd' + '가나다라'
g= '123'*3
print(type(a), type(b), type(c), type(d), type(e), type(f), type(g))
print(a, b, c, d, e, f, g)

<class 'int'> <class 'float'> <class 'str'> <class 'str'> <class 'float'> <class 'str'> <class 'str'>
5 3.14 3.14 3.14 -3.14 abcd가나다라 123123123
<built-in function all>

In [ ]:
# 변수명 에러 유형
1st= '첫번째' #숫자
f**t = '첫번째' #특수문자
f^st = '첫번재' #특수문자
Temp = 1000 #명령어
print(temp)
print('출력합니다') #한글
print(print) #명령어

SyntaxError: ignored

In [ ]:
print(100+200)
print("hello world!")

300
hello world!

In [ ]:
temp = 100 #temp 라는 변수 만들어 그 공간에 100 넣기
temp #or print(temp)

100

In [ ]:
temp2 = 200
temp2

200

In [ ]:
temp3 = temp + temp2
temp3

300

str4 = '100'
type(str4)
int(str4)

In [ ]:
# 리스트 자료형은 []로 선언
# 배열의 가장 앞 원소 값은 1이 아닌 0
# 배열 원서 접근 []안에 배열 순서값 적용
# 마지막 원소는 [-1]
# 배열은 여러 개의 값을 하나의 리스트로 사용하는 것

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
len(list1) #list1 배열 원소값 요청, 문자열의 길이 구하기

10

In [ ]:
print(list1[0]) #list1의 첫번째 원소값 출력
print(list1[-1]) #마지막 원소값 출력
print('list1 배열의 마지막 원소값은 '+ str(list1[-1]) +'입니다.')

1
10
list1 배열의 마지막 원소값은 10입니다.

In [ ]:
# 슬라이싱: 배열원소의 일정 부분만 가져오기 
print(list1[2:6]) #list1 배열의 인덱스 2번 (세번째 원소)부터 6번 앞 (6번 제외)까지의 데이터 출력 요청
print(list1[2:])
print(list1[:6])
print(list1[:-1]) #마지막 데이터 앞까지 (마지막 데이터 불포함)

[3, 4, 5, 6]
[3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#range 이용해서 리스트 만들기 
# 리스트 = list(range(횟수))
# 리스트 = list(range(시작, 끝))
# 리스트 = list(range(시작, 끝, 증가폭))

In [ ]:
list_rg1 = list(range(11))
list_rg2 = list(range(5, 12))
list_rg3 = list(range(-4, 5, 2))
list_rg4 = list(range(20, -1, -1))
list_rg5 = list('hello world')

print("list_rg1은 ", list_rg1, "입니다")
print("list_rg2은 ", list_rg2, "입니다")
print("list_rg3은 ", list_rg3, "입니다")
print("list_rg4은 ", list_rg4, "입니다")
print("list_rg5은 ", list_rg5, "입니다")

list_rg1은  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 입니다
list_rg2은  [5, 6, 7, 8, 9, 10, 11] 입니다
list_rg3은  [-4, -2, 0, 2, 4] 입니다
list_rg4은  [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0] 입니다
list_rg5은  ['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd'] 입니다

In [ ]:
# 요소의 값 할당하기 및 삭제하기
list_rg5
list_rg5[0] = 'H'

print("list_rg_5의 0번째 요소 대문자로 수정 ", list_rg5)

del list_rg5[5]
print("list_rg_5의 5번째 요소 삭제 ", list_rg5)

list_rg_5의 0번째 요소 대문자로 수정  ['H', 'e', 'l', 'l', 'o', 'o', 'r', 'l', 'd']
list_rg_5의 5번째 요소 삭제  ['H', 'e', 'l', 'l', 'o', 'r', 'l', 'd']

In [ ]:
# 요소를 수정하지 못하는 튜플
# 튜플은 리스트와 같이 요소를 일렬로 저장하지만, 요소를 변경 추가 및 삭제 불가
# 튜플은 읽기 전용 리스트

# 딕셔너리는 연관된 값을 묶어서 저장
# {} 중괄호 안게 키:값 형식으로 저장

In [ ]:
#for
# for 변수 in range(시작값, 끝값+1, 증가값) :
    # 이 부분을 반복

# range()
for i in range(0, 3, 1) :
    print("안녕하세요? for 문을 공부 중입니다. ^^")
# 0, 1, 2 세 번을 반복하는 것. 0부터 3-1 값까지

안녕하세요? for 문을 공부 중입니다. ^^
안녕하세요? for 문을 공부 중입니다. ^^
안녕하세요? for 문을 공부 중입니다. ^^

In [ ]:
# intent 
# 반복문, 조건문, 함수 등 코드 블록으로 표시
# 들여쓰기는 2칸 혹은 4칸 
# 반복블럭 정하는 부분의 끝은 콜론 :

for x in range(0,3,1) :
    print('안녕하세요')

안녕하세요
안녕하세요
안녕하세요

In [ ]:
for x in range(5):
    print(x) #range(5)는 0, 1, 2, 3, 4 이므로 다섯번

0
1
2
3
4

In [ ]:
for x in range(2, 4):
    print(x)

2
3

In [ ]:
# 합계구하기
x_sum = 0
a = 1
b = 11

for x in range(a, b):
    x_sum += x
    print("x:", x, "sum:", x_sum)

print(a,'부터 ', b-1, "까지 더한 총합은", x_sum, "입니다")

x: 1 sum: 1
x: 2 sum: 3
x: 3 sum: 6
x: 4 sum: 10
x: 5 sum: 15
x: 6 sum: 21
x: 7 sum: 28
x: 8 sum: 36
x: 9 sum: 45
x: 10 sum: 55
1 부터  10 까지 더한 총합은 55 입니다

In [ ]:
# for vs while

In [ ]:
# if 조건문
a=102
if a<100:
    print("100보다 작군요.")
else:
    print("100보다 크군요.")

100보다 크군요.

In [ ]:
import random #random 무작위 수를 발생시키는 모듈
for x in range(3):

    test_num1 = random.randint(1, 15)
    if test_num1 > 10:
        print(test_num1, ' 은 10보다 큽니다')
    else:
        print(test_num1, ' 은 10보다 작거나 같습니다.')

14  은 10보다 큽니다
13  은 10보다 큽니다
3  은 10보다 작거나 같습니다.

In [ ]:
# 조건문
# == 같다 != 같지않다

In [ ]:
# 함수 만들기
def sum(a, b):
    c = a+b
    return c

sum(4, 5)

9

In [ ]:
# exercise
import random

list_04 = ['딸기', '토마토', '망고', '바나나', '감귤', '메론', '수박']

for x in range(1):
    test_num2 = random.randint(0, 6)
    print(list_04[test_num2])

수박

In [ ]:
import random
li = ['민초','아봉','사빠딸','바닐라','뉴치케','그린티','자아']
choicelist = random.choice(li)
print(choicelist)

사빠딸

In [ ]:
import random
list=['강다솔', '김보연', '남지인', '유승한', '윤혜선', '이예빈']
x=random.randint(0, len(list)-1)
print(list[x])

김보연

In [ ]:
list2 = ['토마토','수박', '바나나', '감귤', '딸기', '메론']
for x in range(1):
    test_num2 = random.randint(0,6)
    print(list2[test_num2],'가/이 발표자입니다')

메론 가/이 발표자입니다

In [ ]:
import random
list_DT = ["종엽","지순","승아","윤희","동빈","유진","찬민"]
rand_num = random.randint(0,6)
print("발표자는 "+list_DT[rand_num]+"입니다")

발표자는 찬민입니다

In [ ]:
from random import sample

list_member=['Alex','Sophie','Annie','Zoey','Sunny','Paul']

print('발표자는', sample(list_member,2),'입니다')

발표자는 ['Paul', 'Sunny'] 입니다