<a href="https://colab.research.google.com/github/minji-sung/pythonlab/blob/main/2_all%20about%20list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **리스트란?**

- 여러 개의 데이터 값을 하나의 변수에 담을 수 있는 자료구조

- 리스트 안의 각 데이터를 '항목' 또는 '요소' 또는 'item'이라고 한다.

- 대괄호[]안에 각 요소를 쉼표(,)로 구분하여 표현한다.

- 각 요소에는 인덱스라는 고유 호가 지정된다. (인덱스는 0부터 시작)

- 리스트의 크기 = 리스트 요소의 개수

In [ ]:
#리스트 예시: 과일 이름을 담는 리스트
fruits = ['사과','오렌지','포도','수박','바나나'] 
print(fruits[0]) # 인덱스 0: 사과
print(fruits[4]) # 인덱스 4: 바나나, 바나나의 인덱스 값: 4
print(len(fruits)) # len -> 리스트의 크기(개수) = 5

사과
바나나
5



- 리스트 안에는 어떠한 자료형도 포함시킬 수 있다.

- 숫자, 문자열 뿐 아니라 변수, 다른 리스트도 저장할 수 있다.

- 하나의 리스트 안에 다양한 자료형을 혼합하여 포함시킬 수 있다.

In [ ]:
n1 = 100
fruits = ['사과','오렌지','포도','수박','바나나'] 
mylist = [n1, fruits, 20, 30, '슈퍼맨', True, [1,2,3]]
mylist

[100, ['사과', '오렌지', '포도', '수박', '바나나'], 20, 30, '슈퍼맨', True, [1, 2, 3]]

# **리스트 생성하기**

1. 초기값이 있는 리스트 생성하기
- 리스트명 = [요소1, 요소2, ..., 요소N]
- 리스트명 = list(range(시작값,끝값,간격))

2. 빈 리스트 생성하기
- 리스트명 = []
- 리스트명 = list()

In [ ]:
#1. 초기값이 있는 리스트 생성하기 예제
l1 = [1,2,3,4,5]
print(l1)
l2 = list(range(1,6))
print(l2)

#2. 빈 리스트 생성하기 예제
l3 = []
print(l3)
l4 = list()
print(l4)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[]
[]

# **리스트 출력하기**

***for 문을 이용하여 리스트 요소 출력***

In [ ]:
#for문을 이용하여 리스트의 요소 출력하기 - 1

fruits = ['사과','오렌지','포도','수박','바나나']
for x in fruits:
    print(x)

#for문을 이용하여 리스트의 요소 출력하기 - 2 

fruits = ['사과','오렌지','포도','수박','바나나']
for fruit in fruits:
    print(fruit, end=' ')

사과
오렌지
포도
수박
바나나
사과 오렌지 포도 수박 바나나

***인덱싱을 이용하여 리스트 요소 출력***

- 리스트 요소 추출> 인덱싱
- 리스트명[index]
- 인덱스 값 0 부터 시작

In [ ]:
fruits = ['사과','오렌지','포도','수박','바나나']
fruits[0] # 음수 인덱스 사용하면, fruits[-5]가 같은 항목 값을 가져옴

'사과'

***대괄호를 사용하여 여러 항목 묶어 나타내기 가능***

In [ ]:
fruits = [['사과','오렌지'],'포도',['수박','바나나']]
fruits[-3]

['사과', '오렌지']

***리스트 생성 및 출력 예제***

In [ ]:
#인덱싱 추가 예제
a = [1,2,3,4,5]
print(a[2]+a[4])

#인덱싱 추가 예제
a = [1,2,3,4,5]
print(a[-2]+a[-3])

8
7

***두 번 이상 인덱싱 사용 출력 예제***

In [ ]:
#두 번 이상 인덱싱 예제
fruits = ['사과','오렌지',['포도','수박','바나나']]
fruits[2] 
fruits[2][-1] #바나나

'바나나'

In [ ]:
#두 번 이상 인덱싱 예제
a = [1,2,['a','b', ['Life','is']]]
print(a[2][2][1]) # 'is'
print(a[2][2][0]) # 'Life'

is
Life

***슬라이싱 기법으로 한 번에 여러 개의 요소들을 추출할 수 있다.***
- 리스트명[시작인덱스:끝인덱스]
- 단, 끝인덱스 요소는 포함하지 않음.

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[3:8]) #3번 인덱스부터 7번 인덱스까지 추출
print(nums[-7:-2]) #-7번 인덱스부터 -3번 인덱스까지 추출

[4, 5, 6, 7, 8]
[4, 5, 6, 7, 8]

In [ ]:
#시작 인덱스 생략 -> 리스트 처음부터라고 가정
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[:3]) #처음부터 인덱스 2값까지 출력
print(nums[0:3])

[1, 2, 3]
[1, 2, 3]
[4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#끝 인덱스 생략 -> 리스트 마지막까지라고 가정 
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[3:]) #처음부터 인덱스 3값까지 출력
print(nums[3:10])
print(nums[3:len(nums)])

[4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]

In [ ]:
#시작, 끝 인덱스 모두 생략 -> 리스트 전체라고 가정
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[:])

In [ ]:
#특정 간격으로 슬라이싱-> 리스트명[시작인덱스:끝인덱스:간격]
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[3:8:2]) # 인덱스 3값부터 인덱스 7값까지 2 간격으로 추출 
print(nums[-7:-2:2]) # -7번 인덱스부터 -3번 인덱스까지 2 간격으로 추출

[4, 6, 8]
[4, 6, 8]

In [ ]:
#음수 이용 인덱싱 (음수 간격: 거꾸로)
nums = [1,2,3,4,5,6,7,8,9,10]

print(nums[8:3:-1])
print(nums[-2:-7:-1])

print(nums[::-1])

print(nums[-3:-8:-2])
print(nums[7:2:-2])
print(nums[-2:-7])
print(nums[8:3])

[9, 8, 7, 6, 5]
[9, 8, 7, 6, 5]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[8, 6, 4]
[8, 6, 4]
[]
[]

***슬라이싱 추가 예제***

In [ ]:
a = [1,2,3,['a','b','c'],4,5]
print(a[2:5])
print(a[-5:-3])

[3, ['a', 'b', 'c'], 4]
[2, 3]

# **리스트 기타 코드**

***리스트 더하기 및 곱하기***

In [ ]:
#리스트 더하기
a = [1,2,3]
b = [4,5,6]
print(a+b)

#리스트 곱하기
a = [1,2,3]
b = a*3
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

[1, 2, 1, 2, 1, 2]

***리스트 크기(길이) 구하기***

In [ ]:
#리스트 크기(길이) 구하기 -> len(리스트명)

a = [1,2,3,4,5,6,7,8,9,10]
print(len(a))
fruits = ['사과','오렌지','포도','수박','바나나']
print(len(fruits))

10
5

# **리스트 요소값 변경하기**

지정한 인덱스의 요소값을 변경한다.
리스트명[index] = item

In [ ]:
fruits = ['사과','오렌지','포도','수박','바나나']
fruits[1] = '망고'
print(fruits)

fruits[3] = '메론'
print(fruits)

k=1
fruits[k+1] = '망고스틴'
print(fruits)

['사과', '망고', '포도', '수박', '바나나']
['사과', '망고', '포도', '메론', '바나나']
['사과', '망고', '망고스틴', '메론', '바나나']

리스트 요소값 변경 시 인덱스 범위 벗어나면 오류남

In [ ]:
fruits = ['사과','오렌지','포도','수박','바나나']
fruits[5] = '망고'
print(fruits)

IndexError: ignored

리스트 요소값 여러 개의 항목 변경하기  

- 슬라이싱으로 여러 개의 항목을 한 번에 변경하기

- 리스트명[시작인덱스:끝인덱스] = [item1, item2, ..., itemN]

In [ ]:
fruits = ['사과','오렌지','포도','수박','바나나']
fruits[1:3] = ['수박','망고','키위']
print(fruits)

fruits = ['사과','오렌지','포도','수박','바나나']
fruits[1] = ['망고','키위','자두']
print(fruits)
fruits[4] = ['메론','체리']
print(fruits)

['사과', '수박', '망고', '키위', '수박', '바나나']
['사과', ['망고', '키위', '자두'], '포도', '수박', '바나나']
['사과', ['망고', '키위', '자두'], '포도', '수박', ['메론', '체리']]

# **리스트 요소 삭제하기**

1) del 리스트명[index]
    -> 지정한 인덱스의 항목을 삭제한다.

2) 리스트명.pop()
    -> 리스트 마지막 요소를 반환하고 삭제한다.

3) 리스트명.remove(요소)
    -> 요소값을 이용하여 삭제한다. 삭제하고자 하는 요소의 인덱스를 알 필요가 있다.

In [ ]:
#1) del: 인덱스 값으로 추출
fruits = ['사과','딸기','바나나', '복숭아','파인애플']
del fruits[3]
print(fruits)

fruits = ['사과','딸기','바나나', '복숭아','파인애플']
del fruits[3:5]
print(fruits)

['사과', '딸기', '바나나', '파인애플']
['사과', '딸기', '바나나']

In [ ]:
list1 = ['가','나','다']
del list1[1:2]
list1

['가', '다']

In [ ]:
#2) 리스트명.pop(): 인덱스 값으로 추출, 마지막 값 리턴, 리스트는 마지막 값 제외.
fruits = ['사과','딸기','바나나', '복숭아','파인애플']
last_fruit = fruits.pop()
print(last_fruit)
print(fruits)


fruits = ['사과','딸기','바나나', ['복숭아','파인애플']]
last_fruit = fruits.pop()
print(last_fruit)
print(fruits)
print(fruits, last_fruit)

파인애플
['사과', '딸기', '바나나', '복숭아']
['복숭아', '파인애플']
['사과', '딸기', '바나나']
['사과', '딸기', '바나나'] ['복숭아', '파인애플']

In [ ]:
#3) 리스트명.remove(요소): 요소 값으로 추출
fruits = ['사과','딸기','바나나', '복숭아','파인애플']
fruits.remove('바나나')
print(fruits)

#해당하는 요소가 2개 이상인 경우, 첫번째 요소만 삭제한다. 
fruits = ['사과','딸기','바나나', '복숭아','파인애플','바나나']
fruits.remove('바나나')
print(fruits)

['사과', '딸기', '복숭아', '파인애플']
['사과', '딸기', '복숭아', '파인애플', '바나나']

***리스트 요소 삭제 추가 예제***

In [ ]:
days = ['월','화','수','목','금','토','일']

#수요일 지우기 - 1. del 사용: 인덱스 값 사용(o), 요소 값 사용(x) 
del days[2]
print(days)

#수요일 지우기 - 2. pop 사용: 인덱스 값 사용(o), 요소 값 사용(x)
days = ['월','화','수','목','금','토','일']
last_days = days.pop(2)
print(last_days)
print(days)

#수요일 지우기 - 3.remove 사용: 요소 값 사용(o), 인덱스 값 사용(x)
days = ['월','화','수','목','금','토','일']
days.remove('수')
print(days)

['월', '화', '목', '금', '토', '일']
수
['월', '화', '목', '금', '토', '일']
['월', '화', '목', '금', '토', '일']

***해당 요소가 리스트에 있는지 확인한 후 지우기***

In [ ]:
#해당 요소가 리스트에 없는 경우 에러가 남
fruits = ['사과','딸기','바나나', '복숭아','파인애플']
fruits.remove('망고')
fruits

ValueError: ignored

In [ ]:
#해당 요소가 리스트에 있는지 확인하고 삭제하기
fruits = ['사과','딸기','바나나', '복숭아','파인애플']
if '망고' in fruits:
    fruits.remove('망고')
fruits

['사과', '딸기', '바나나', '복숭아', '파인애플']

In [ ]:
fruits = ['사과','딸기','바나나', '복숭아','파인애플']

if '복숭아' in fruits:
    fruits.remove('딸기')
fruits

['사과', '바나나', '복숭아', '파인애플']

# **리스트에 요소 추가 (append)**

- 리스트의 맨 마지막에 요소를 추가한다.
- 리스트명.append(요소)

In [ ]:
fruits = ['사과','딸기','바나나', '복숭아','파인애플']
fruits.append('오렌지') #하나씩만 입력 가능
fruits.append('망고')
fruits

['사과', '딸기', '바나나', '복숭아', '파인애플', '오렌지', '망고']

In [ ]:
list6 = ['가','나','다','라']
list6.append('마')
list6

list7 = ['바','사','아','자']
list8 = list6 + list7
list8

['가', '나', '다', '라', '마', '바', '사', '아', '자']

# **리스트에 요소 삽입 (insert)**

- 지정한 인덱스에 요소를 삽입한다.
- 리스트명.insert(인덱스, 요소)

In [ ]:
fruits = ['사과','딸기','바나나', '복숭아','파인애플']
fruits.insert(2,'오렌지') #'오렌지'를 '바나나' 전에 삽입
fruits

['사과', '딸기', '오렌지', '바나나', '복숭아', '파인애플']

In [ ]:
fruits.insert(2,'망고')
fruits

['사과', '딸기', '망고', '오렌지', '바나나', '복숭아', '파인애플']

# **리스트에 여러 요소 추가 (extend)**

- 리스트 마지막에 여러 요소를 한 번에 추가한다. (요소 두 개 이상)
- 리스트명.extend(리스트)

In [ ]:
fruits = ['사과','딸기','바나나', '복숭아','파인애플']
fruits.extend(['망고','포도'])
print(fruits)

fruits = ['사과','딸기','바나나', '복숭아','파인애플']
fruits.extend(('망고','포도')) #소괄호 대신 사용 가능
print(fruits)

['사과', '딸기', '바나나', '복숭아', '파인애플', '망고', '포도']
['사과', '딸기', '바나나', '복숭아', '파인애플', '망고', '포도']

In [ ]:
list10 = ['가','나','다','라']
list10.extend(['마','바','사'])
list10

['가', '나', '다', '라', '마', '바', '사']

***요소의 위치 찾기***

- 리스트에서 특정 요소의 인덱스 찾기
- 리스트명.index(요소)

In [ ]:
fruits = ['사과','딸기','바나나', '복숭아','파인애플']
print(fruits.index('딸기'))

fruits = ['사과','딸기','바나나', '복숭아','파인애플','딸기']
print(fruits.index('딸기')) #첫번째 인덱스 값만 반환

fruits.index('바나나')

1
1

2

In [ ]:
#리스트에 요소가 존재하는지 검사 후 찾기
if '망고' in fruits:
    print(fruits.index('망고'))
else:
    print('해당 요소가 존재하지 않음')

해당 요소가 존재하지 않음

In [ ]:
if '망고스틴' in fruits:
    print('망고스틴')
else:
    fruits.append('망고스틴')
fruits

['사과', '딸기', '바나나', '복숭아', '파인애플', '딸기', '망고스틴']

# **멤버 연산자 in, not in**

여러 데이터 중 원하는 데이터가 존재하는지 여부를 검사하는 연산자 

in

- 데이터들 중 원하는 데이터가 존재하면 True 반환
- 예:
    - 1 in (1,2,3,4) # True
    - 5 in [1,2,3,4] # False
    - 'p' in 'python' # True
    - 'a' in 'python' # False

not in

- 데이터들 중 원하는 데이터가 존재하지 않으면 True 반환
- 예:
    - 1 not in (1,2,3,4) # False
    - 5 not in [1,2,3,4] # True
    - 'p' not in 'python' # False
    - 'a' not in 'python' # True

# **요소의 위치 찾기**

과일 이름을 입력받아 리스트에 과일 이름이 존재하는지 확인 후 존재한다면 인덱스 위치를 출력하고 존재하지 않는다면 '해당 요소가 존재하지 않음'를 출력하는 프로그램을 작성하세요.

In [ ]:
#리스트에 요소가 존재하는지 검사 후 인덱스 찾기
fruits = ['사과','딸기','바나나', '복숭아','파인애플']
fruit_name = input('과일이름: ')
if fruit_name in fruits:
    print(fruits.index(fruit_name))
else:
    print('해당 요소가 존재하지 않음')

과일이름:망고
해당 요소가 존재하지 않음

In [ ]:
list11 = ['가','나','다']
find = input('find: ')
if find in list11:
    print(list11.index(find))
else:
    print('해당 요소 없음')

find: 라
해당 요소 없음

# **특정 요소의 개수 추출 (count)**

- 리스트에서 지정한 요소의 개수를 반환한다.
- 리스트명.count(요소)

In [ ]:
fruits = ['사과','딸기','사과','바나나', '복숭아','파인애플','파인애플','파인애플']
print(fruits.count('사과')) #리스트에 '사과' 개수 카운트 
print(fruits.count('파인애플'))

2
3

# **리스트 정렬**

- 리스트 원본을 정렬한다.
    - 오름차순 정렬: 리스트명.sort() 
    - 내림차순 정렬: 리스트명.sort(reverse=True)

- 리스트 원본은 건드리지 않고 정렬된 새로운 리스트를 반환한다.
    - 오름차순 정렬: sorted(리스트명)
    - 내림차순 정렬: sorted(리스트명, reverse=True)

In [ ]:
#sort 
fruits = ['사과','딸기','사과','바나나', '복숭아','파인애플']
fruits.sort() #오름차순
print(fruits)
fruits.sort(reverse=True) #내림차순
print(fruits)

['딸기', '바나나', '복숭아', '사과', '사과', '파인애플']
['파인애플', '사과', '사과', '복숭아', '바나나', '딸기']
원본:  ['파인애플', '사과', '사과', '복숭아', '바나나', '딸기']
정렬:  ['딸기', '바나나', '복숭아', '사과', '사과', '파인애플']
원본:  ['파인애플', '사과', '사과', '복숭아', '바나나', '딸기']
정렬:  ['파인애플', '사과', '사과', '복숭아', '바나나', '딸기']

In [ ]:
list12 = ['라','가','바','히','오']
list12.sort()
print(list12)
list12.sort(reverse = True)
print(list12)

['가', '라', '바', '오', '히']
['히', '오', '바', '라', '가']

In [ ]:
#sorted
fruits = ['사과','딸기','사과','바나나', '복숭아','파인애플']
sorted_fruits = sorted(fruits) #원본 안건들임. 오름차순
print("원본: ", fruits)
print("정렬: ", sorted_fruits)

sorted_fruits = sorted(fruits, reverse=True) #원본 안건드림. 내림차순
print("원본: ", fruits)
print("정렬: ", sorted_fruits)

In [ ]:
list12
print('정렬',sorted(list12))
print('원본',list12)

정렬 ['가', '라', '바', '오', '히']
원본 ['히', '오', '바', '라', '가']

***리스트 뒤집기 (reverse)***

- 원본 파일 수정

In [ ]:
#reverse 
fruits = ['사과','딸기','사과','바나나', '복숭아','파인애플']
fruits.reverse()
fruits

<list_reverseiterator object at 0x7fadcd90d1d0>
['파인애플', '복숭아', '바나나', '사과', '딸기', '사과']

In [ ]:
print(list12)
list12.reverse()
list12

['히', '오', '바', '라', '가']

['가', '라', '바', '오', '히']

# **리스트에서 랜덤 항목 추출하기**

- 리스트에서 랜덤 항목을 추출한다.
- random.choice(리스트명)

In [ ]:
import random # import random -> random 함수 정의 (반드시 해야함)
wise_saying = []
wise_saying.append('미래는 현재 우리가 무엇을 하고 있는가에 달려있다. - 마히트마 간디')
wise_saying.append('교육은 세상을 바꿀 수 있는 가장 강력힌 무기다 - 넬슨 만델리')
wise_saying.append('성공하기 위한 가장 확실한 방법은 한번 더 시도해 보는 것이다 - 토마스에디슨')
wise_saying.append('가장 불만에 가득찬 고객은 가장 위대한 배움의 원천이다 _ 빌 게이츠')
wise_saying.append('영원히 살 것처럼 꿈꾸고 오늘 죽을 것처럼 살아라 - 제임스딘')
wise_saying.append('경쟁우위거 없다면 경쟁하지 마라 - 잭윌치')
wise_saying.append('삶에 실수는 없고, 배움만이 있을 뿐이다. - 지아드 압델 누어')
wise_saying.append('어제와 똑같은 삶을 살면서 다른 미래를 기대하는 것은 정신병의 초기증세이다 -아인슈타인')
wise_saying.append('문제점을 찾지 말고 해결책을 찾으라 - 헨리포드')
wise_saying.append('실수를 해보지 않은 사람은 한번도 새로운 일을 시도해보지 않았던 사람이다 -아인슈타인')
print(random.choice(wise_saying))
print(random.sample(wise_saying,3))
print(random.sample(wise_saying,1))

실수를 해보지 않은 사람은 한번도 새로운 일을 시도해보지 않았던 사람이다 -아인슈타인
['어제와 똑같은 삶을 살면서 다른 미래를 기대하는 것은 정신병의 초기증세이다 -아인슈타인', '성공하기 위한 가장 확실한 방법은 한번 더 시도해 보는 것이다 - 토마스에디슨', '영원히 살 것처럼 꿈꾸고 오늘 죽을 것처럼 살아라 - 제임스딘']
['가장 불만에 가득찬 고객은 가장 위대한 배움의 원천이다 _ 빌 게이츠']

# **리스트 합계, 최대값, 최소값 구하기**

- 합계: sum(리스트명)
- 최대값: max(리스트명)
- 최소값: min(리스트명)

In [ ]:
a = [1,2,3,4,5]
b = ['a','b','c','d','e']
c = ['상추','가지','배추','오이','당근']
print(sum(a))
print(max(b))
print(min(c)) #ㄱ,ㄴ,ㄷ 순 기준 최소값

15
e
가지

# **Random 모듈**

- randint(시작값,끝값): 시작값, 끝값 사이의 랜덤한 정수 반환 (끝값 포함)
- randrange(시작값,끝값): 시작값, 끝값 사이의 랜덤한 정수 반환 (끝값 미포함), 인자가 1개인 경우 0~끝값 사이의 랜덤한 정수 반환 (끝값 미포함)
- random(): 0.0~1.0 사이의 실수를 반환 (1.0 미포함)
- uniform(시작값, 끝값): 시작값~끝값 사이의 실수를 반환(끝값 미포함)
- choice(sequence): 시퀀스 데이터 내에서 무작위로 하나의 원소 추출
- 두 개 더 있었는데 못 적음

In [ ]:
import random
random.randrange(1,6)
random.choice(list12)
random.random()

0.851423194617465

예제1> 숫자들의 합계와 평균 계산하기

- 사용자로부터 5개의 숫자를 입력받아 리스트에 저장하고,
    - for 문으로 5번 반복
    - 리스트에 요소를 추가하는 함수를 사용
- 숫자들의 합계와 평균을 계산하여 출력하는 프로그램을 작성해보자
    - 리스트 합계를 구하는 함수 사용
    - 리스트 평균을 구하는 함수는 없음.

In [ ]:
num_list = []

for i in range(5):
    number = int(input('숫자: '))
    num_list.append(number)

if len(num_list) != 0:
    average = sum(num_list)/len(num_list)
else:
    average = 0 

print(f'합계: {sum(num_list)}, 평균: {average}')

In [ ]:
num_list = []

for i in range(5):
    number = int(input('숫자: '))
    num_list.append(number)

if len(num_list) != 0:
    average = sum(num_list)/len(num_list)
else:
    average = 0

print(f'합계 : {sum(num_list)}, 평균: {average}')

In [ ]:
#빈 리스트 생성
num_list =[]

#숫자 5개를 입력받아 리스트에 추가
for i in range(5):
    number = int(input('숫자: '))
    num_list.append(number)

#리스트의 평균 계산
if len(num_list) != 0:
    average = sum(num_list)/len(num_list)
else:
    average = 0

#합계, 평균 출력
    print(f'합계:{sum(num_list)},평균: {average}')

h-e-l-l-o
['hi', 'all']