<a href="https://colab.research.google.com/github/minji-sung/pythonlab/blob/main/5_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

20210602

In [ ]:
#횟수제어반복: for 구조
#range(): 시작값~(끝값-1)
#while; 조건식의 결과가 True인 동안 반복된다. False가 되면 반복 벗어나
#while 조건식:
    #명령블록

range(0, 5)

In [ ]:
#all about list
#list1 = [a, b, c]
#list2 = list(range(start, end, step))
#요소 추출: list1[index]

In [ ]:
#튜플: ()
# 정의후 변경 불가 (요소 변경 불가)
# 요소가 1개일때의 튜플은 마지막에 콤마,를 붙여준다.

In [ ]:
#딕셔너리: 딕셔너리명 = {key1:value1, key2:value2,...}
#추가, 수정 가능 -> key 값을 통해서 밸류를 할당하기 
#keys & values = items
#length -> len()
#sorted(name.keys())

In [ ]:
#집합: 집합명 = {a, b, c, ...n}
#Index 개념 없어 -> 요소로만

In [ ]:
#함수: 내장함수, 외장함수, 사용자정의 함수
dir(__builtins__)

In [ ]:
import calendar
print(calendar.month(2021,5))

      May 2021
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [ ]:
from calendar import month
print(month(2021,5))

      May 2021
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [ ]:
import random
list_data = [1, 2, 3, 4, 5]
random.choice(list_data)

5

In [ ]:
time()
sleep()

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 7.63 µs

()

In [ ]:
#오늘 날짜 구하기

import datetime

date1 = datetime.date.today()
date2 = datetime.date(1991,6,5)
print(date1-date2)

10955 days, 0:00:00

In [ ]:
import random


a = random.random()             #random float x, 0 <= x <1.0
b = random.uniform(1, 10)       #random float x, 0 <= x <10
c = random.randint(1, 10)       #random int
d = random.randrange(0, 101, 2)
e = random.choice('abcdefghij')
f = random.choice(['가위', '바위', '보'])

mylist = ["apple", "banana", "cherry"]
random.shuffle(mylist)
print(mylist)

print(a, b, c, d, e, f)

['apple', 'banana', 'cherry']
0.9380933929156149 9.778461443392462 2 88 h 가위

In [ ]:
#사용자정의 함수
# def 함수명(매개변수):
    #함수기능
    #return 반환값 
#function name 
#arguent value : 매개변수
#return value

def sum1(a, b):
    c = a + b
    return c

sum1(4, 5)

9

In [ ]:
#예제: 환영 메시지 출력

def say_hello():
    print('안녕하세요')
    print('환영합니다')
    print('즐거운시간되세요')
say_hello()

for i in range(3):
    say_hello()

안녕하세요
환영합니다
즐거운시간되세요
안녕하세요
환영합니다
즐거운시간되세요
안녕하세요
환영합니다
즐거운시간되세요
안녕하세요
환영합니다
즐거운시간되세요

In [ ]:
def say_hello(name1, name2):
    print(f'안녕하세요, {name1}님')
    print(f'환영합니다, {name2}님')
    print('즐거운시간되세요')

say_hello('홍길동', '홍자매')

안녕하세요, 홍길동님
환영합니다, 홍자매님
즐거운시간되세요

In [ ]:
#예제: 원의 넓이 구하기

def circle_area(radius):
    area = 3.14*radius**2
    return area

circle_area(5)

78.5

In [ ]:
#예제: 사칙연산

def get_plus(num1, num2):
    result = num1 + num2
    return result
get_plus(1, 2)

def get_subs(num1, num2):
    result = num1 - num2
    return result
get_subs(2, 3)

def get_multi(num1, num2):
    result = num1*num2
    return result
get_multi(3, 4)

def get_div(num1, num2):
   # result = 'None'
    if num2 == 0:
            print('다른 수 입력하세요')
    else:
        result = num1/num2
        return result

get_div(2, 2)

1.0

In [ ]:
# 지역변수? 전역변수? 
# 함수 내에서 생성한 변수가 지역변수 / 함수 밖은 전역변수

def get_plus_minus(num1, num2):
    plus = num1 + num2
    minus = num1 - num2
    return plus, minus
#print (plus, minus)

NameError: ignored

In [ ]:
def circle_area():
    area = 3.14*radius**2
    return area

radius = float(input('반지름:'))
circle_area()

반지름:3

28.26

In [ ]:
#함수 안에서 전역변수 값 변경하기

def circle_area():
    area = 3.14*radius**2
    return area

area = 0        #함수 밖에서 선언함
radius = float(input('반지름:'))
print('원 넒이:',circle_area())
print(area)

#return 값으로 생성된 값은 소멸돼. 밖에서 area 가 정의됨

반지름:8
원 넒이: 200.96
0

In [ ]:
def circle_area():
    global area
    area = 3.14*radius**2
    return area

area = 0       #초기값을 준거나 다름 없음 
radius = float(input('반지름:'))
print('원 넒이:',circle_area())
print(area)

반지름:2
원 넒이: 12.56
12.56

In [ ]:
#default 인수

def greet(name, msg):
    print(f'안녕 {name}, {msg}')

greet('철수','좋은아침!')

안녕 철수, 좋은아침!

In [ ]:
def greet(name = '친구', msg = '잘 지내니?'):
    print(f'안녕 {name}, {msg}')

greet('철수')

# 기본으로 붙어있어서 변수 없어도 출력 ㅇㅇ

greet()

안녕 철수, 잘 지내니?
안녕 친구, 잘 지내니?

In [ ]:
#키워드 인수
#위치인수와 키워드인수 혼합 사용/ 처음인수엔 그 자리껏

def calc(x, y, z):
    result = x+y-z
    return result

calc(1, z=5, y=3)
#calc(x=1, 4, 5) #이건 에러
calc(4, 2, 3)

3

In [ ]:
#multiple arguments
# 매개변수의 개수가 가변적일때 사용 

def average(*args):         #*하나면 튜플형
    print(args)
    avrg1 = sum(args)/len(args)
    return avrg1

print(average(1, 2, 3))
print(average(1, 2, 3, 4, 5))

(1, 2, 3)
2.0
(1, 2, 3, 4, 5)
3.0

In [ ]:
def average(*a):         #*하나면 튜플형
    avrg1 = sum(a)/len(a)
    return avrg1

print(average(1, 2, 3))
print(average(1, 2, 3, 4, 5))

2.0
3.0

In [ ]:
# Different types of tuples

# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

In [ ]:
my_tuple = 3, 4.6, "dog"
print(my_tuple)

# tuple unpacking is also possible
a, b, c = my_tuple

print(a)      # 3
print(b)      # 4.6
print(c)      # dog

(3, 4.6, 'dog')
3
4.6
dog

In [ ]:
#예제: 소수 여부 판단하기

# 소수 여부를 판단해서 리턴해야해
# 소수면 True 아니면 False 

def is_prime(num):
    if num <2:
        return False
    for i in range (2, num):
        if num % i == 0:
            return False
    return True

input_num = int(input('숫자:'))
if is_prime(input_num):
    print('소수입니다')
else:
    print('소수가 아닙니다')

숫자:89
소수입니다

In [ ]:
#짝수 여부 판단

def is_even(num):
    if num%2 == 0:
        return True

input_num = int(input('숫자:'))
if is_even(input_num):
    print('짝수입니다')
else:
    print('짝수가 아닙니다')

숫자:3
짝수가 아닙니다

In [ ]:
#0이 합격 / 1이 불합격

def is_accepted(num):
    if num == 0:
        return True

import random
input_num = random.randint(0, 1)
print(input_num)
if is_accepted(input_num):
    print('합격입니다')
else:
    print('불합격입니다')

0
합격입니다

In [ ]:
# 70점 기준

def is_accepted(num):
    if num >= 70:
        return True
    else:
        return False

import random
input_num = random.randint(0, 100)
print(input_num)
if is_accepted(input_num):
    print('합격입니다')
else:
    print('불합격입니다')

39
불합격입니다

In [ ]:
# 70점 기준

def is_accepted(num):
    if num >= 70:
        return True
    else:
        return False

input_num = int(input('점수를 입력하시오:'))
# print(is_accepted(input_num))
if is_accepted(input_num):
    print('합격입니다')
else:
    print('불합격입니다')

점수를 입력하시오:69
불합격입니다

In [ ]:
#예제: 오늘의 메뉴

def today_menu(*a):
    a = random.choice(a)
    return a

print('오늘의 메뉴')
today_menu('김밥','떡볶이','오뎅')

오늘의 메뉴

'떡볶이'

In [ ]:
#매개변수가 주어지지 않았을때!

def today_menu(*a):
    for i in a:
        print(i)
print('==오늘의 메뉴==')
today_menu('김밥','떡볶이','오뎅')

오늘의 메뉴
김밥
떡볶이
오뎅

In [ ]:
def today_menu(*a):
    for i in range(len(a)):
        print(a[i])
print('==오늘의 메뉴==')
today_menu('김밥','떡볶이','오뎅')

오늘의 메뉴
김밥
떡볶이
오뎅

In [ ]:
# lambda() 함수: 한줄로 간단하게 만들어준대

def plus(a, b):
    result = a+b
    return result
print(plus(1, 2))

plus = lambda a, b: a+b
print(plus(1, 2))

3
3

In [ ]:
circle_a = lambda a: 3.14*a**2
print(circle_a(4))

50.24

In [ ]:
def circle_area(radius):
    global area
    area = 3.14*radius**2
    return area

print(circle_area(4))

50.24

In [ ]:
# map()
# 두개의 인자를 갖는 함수로 순서가 있는 자료형에 사용
# 첫번째 인자는 함수명, 두번째 인자는 순서있는 자료형

mylist = [1, 2, 3, 4, 5]
plus10 = lambda num: num+10
circle_a = lambda a: 3.14*a**2

mylist1 = list(map(plus10, mylist))
print(mylist1)

mylist2 = list(map(circle_a, mylist))
print(mylist2)

[11, 12, 13, 14, 15]
[3.14, 12.56, 28.26, 50.24, 78.5]

In [ ]:
#재귀함수: 함수 안에서 함수 자기 자신 호출
#무한반복의 소지가 다분해

def hello(count):
    if count == 0:              #종료 조건 = count 가 0이면 끝
        return

    print('hello, world', count)

    count -= 1                  #count 1감소시킨뒤
    hello(count)                #다시 함수에 넣음 

hello (3)

hello, world 3
hello, world 2
hello, world 1

In [ ]:
def factorial(n):
    if n == 1:
        return 1
    
    return n*factorial(n-1)

print(factorial(3))

6

In [ ]:
#딕셔너리 요소 추출
dict_scores = {
    'a':80,
    'b':90,
    'c':100
}

dict_scores.get('a')

80

In [ ]:
#예제: 편의점 재고관리 시스템
#프로그램에는 세개의 메뉴: 재고등록, 물건판매, 재고조회

while True:
    print('''
    =======재고관리 시스템======
    1:재고등록, 2:제품판매, 3:재고확인, 0: 프로그램종료
    ''')

    menu = input('메뉴 선택하세요:')
    if menu == '0':
        break
    elif menu == '1':

In [ ]:
while True:
    print('''
    ==== 재고관리 시스템 ====
    1:재고등록, 2:제품판매, 3:재고확인, 0:프로그램 종료
    ''')

    menu = input('메뉴를 선택하세요:')
    if menu == '0':
        break
    elif menu == '1':
        print('재고등록')
        a={'삼각김밥':10,'커피우유':10}
        while True:
            product = input('물건이름: ')
            if product =='':
                break
            num = int(input('개수: '))
            if product in a.keys():
                a[product] += num
            else:
                a[product] = num
        print('_'*50)
        for key,value in sorted(a.items()):
            print(key, value)


    elif menu == '2':
        print('제품판매')
        while True:
            product = input('상품명: ')
            if product == '':
                break
            num = int(input('개수: '))
            if product in a.keys():
                a[product] -=num
                print(f'{a}개 남았습니다')
            else:
                print('재고가 부족합니다.')
        
    elif menu == '3':
        print('재고확인')