# Numpy 
* 넘파이는 수치해석용 파이썬 패키지입니다.   
* 다차원의 배열 자료구조 클래스인 ndarray 클래스를 지원하며 벡터와 행렬을 사용하는 선형대수 계산에 주로 사용됩니다.

## numpy 배열생성

In [ ]:
import numpy as np  
list_data = [1,2,3]
array = np.array(list_data)
print(array)

In [ ]:
list1 = range(1,10)
print(list1)
arr1 = np.zeros(10)
print(arr1)

특정범위로 배열생성

In [ ]:
a1 = np.arange(10)
print(a1)
a2 = np.arange(10,20)
print(a2)
a3 = np.arange(1,20,2)
print(a3)
a4 = np.arange(1,2,0.1)
print(a4)

특정값의 배열 생성

In [ ]:
a1 = np.zeros(10)
print(a1)
a2 = np.ones(10)
print(a2)
a1 = np.zeros(10)
print(a1)
x = [1,2,3]
a2 = np.zeros_like(x)
print(a2)

In [ ]:
'''
import numpy as np 
arr = np.array([[1,2,3],[4,5,6],[7,8,9]],
               [[1,2,3],[4,5,6],[7,8,9]],
               [[1,2,3],[4,5,6],[7,8,9]]])
print(arr)
'''

numpy 데이터 타입 통일

In [ ]:
# str이나 uniode등으로 문자열을 지정할 경우의 dtype은 <U1
a1 = np.array([1,'2',3])
print(a1,a1.dtype)
a2 = np.array([1,2.0,3])
print(a2,a2.dtype)

넘파이 문자수 주의

In [ ]:
# <u1 문자열 자릿수 한자리
a_str = np.array([1, 2, 3], dtype=str) 
print(a_str) 
print(a_str.dtype)
a_str[0] = 'asdf'
print(a_str) 
print(a_str.dtype)

In [ ]:
a_str10 = np.array([1, 2, 3], dtype='U10') 
print(a_str10.dtype) # <U10 
a_str10[0] = 'abcdeertyuioo' 
print(a_str10) # ['abcde' '2' '3']

In [ ]:
import numpy as np 
x = np.arange(1, 10001)
y = np.arange(10001, 20001)

%%time(셀단위 측정)	%를 두개 적으면, Cell 전체에 적용이 됩니다.  
즉, Cell 코드를 모두 수행한 후 시간을 측정하여 반환합니다.

In [ ]:
%%time
z = np.zeros_like(x)
for i in range(10000):
    z[i] = x[i] + y[i]

In [ ]:
z[:10]

벡터 연산

In [ ]:
%%time
z = x + y

In [ ]:
z[:10]

## 2차원 배열

In [ ]:
a1 = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
print(a1)

## 3차원 배열

In [ ]:
a2 = np.array([[[1,2,3,4],[5,6,7,8],[9,10,11,12]],[[1,2,3,4],[5,6,7,8],[9,10,11,12]],[[1,2,3,4],[5,6,7,8],[9,10,11,12]]])
print(a2)

## 배열 구조 확인 - 차원,크기

In [ ]:
a1 = np.array([1,2,3,4])
print(a1,a1.ndim,a1.shape)

In [ ]:
a1 = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
print(a1,a1.ndim,a1.shape)

차원 변경 reshape

In [ ]:
a1 = np.array([1,2,3,4,5,6,7,8,9,10])
print(a1.reshape(5,2))
print(a1.reshape(2,5))

In [ ]:
a1 = np.array([1,2,3,4,5,6,7,8,9,10])
print(a1.reshape(-1,5)) #-1은 행열 바꾸는 것을 지정하지 않을 때 (생략x)
print(a1.reshape(2,-1))

In [ ]:
print(a1.reshape(-1,3))

### 열 추가로 배열 만들기

In [ ]:
l1 = [1,2,3]
l2 = [1,2,3]
l3 = [1,2,3]
a1 = np.column_stack((l1,l2,l3)) # 열 방향으로 합치는 함수
print(a1)

In [ ]:
l1 = [1,2,3]
l2 = [1,2,3]
l3 = [1,2,3]
a1 = np.column_stack((l1,l2,l3))
print(a1)
a2 = np.array([1,2,3])
a3 = np.array([4,5,6])
a4 = np.array([7,8,9])
a1 = np.column_stack((a2,a3,a4))
print(a1)
a2 = np.array([1,2,3])
a3 = np.array([4,5,6])
a4 = np.array([7,8,9])
a1 = np.column_stack((a2,a4,a3))
print(a1)

In [ ]:
a = np.array([1,2,3])
b = np.array([4,5,6])
np.column_stack((a,b)) # shape=(3, 2)

In [ ]:
a = np.array([[1,2,3],[4, 5, 6]])
b = np.array([[7,8,9], [10, 11, 12]])

np.column_stack((a,b)) # shape=(2, 6)

배열 합치기

In [ ]:
a2 = np.array([1,2,3])
a3 = np.array([4,5,6])
a4 = np.array([7,8,9])
a1 = np.concatenate([a2,a4,a3])
print(a1)
a1 = np.concatenate((a2,a4,a3))
print(a1)

## 평균 구하기

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6] 
l3 = [7,8,9]
a1 = np.column_stack((l1,l2,l3))
print(a1.mean()) #전평균
print(a1.mean(axis=0)) #열평균
print(a1.mean(axis=1)) #행평균

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
% cd /content/drive/MyDrive/Colab Notebooks
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/seoul_temp.csv')
df

In [ ]:
df.head()

In [ ]:
df[['년','최고기온']]

In [ ]:
df.head(10)

In [ ]:
df.describe()

In [ ]:
df.평균기온

In [ ]:
df[(df['년']>1970)&(df['년']<1980)].count()

In [ ]:
df[(df['년']>1970)&(df['년']<2020)].count()

In [ ]:
df.isnull().count()

In [ ]:
df.notnull().count()

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
df.notnull().sum()

In [ ]:
df = df.fillna(df.mean())
df

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df['기온차'] = df['최고기온'] - df['최저기온']
df

In [ ]:
df.info()

In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt
 
%config InlineBackend.figure_format = 'retina'
 
!apt -qq -y install fonts-nanum
 
import matplotlib.font_manager as fm
fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
plt.rc('font', family='NanumBarunGothic') 
mpl.font_manager._rebuild()

In [ ]:
plt.plot(df['최저기온']), df['최고기온'])